body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

.admin-container {
  padding: 20px;
}

/* Header */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: black;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

/* Buttons */
.actions {
  margin: 20px 0;
}

.actions button {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  background: darkred;
}

/* Table */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: red;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

/* Delete Button styling */
.btn-delete {
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-delete:hover {
    background: black;
}

.login-card { 
            background: white; 
            padding: 30px; 
            border-radius: 8px;
             box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
             width: 100%; 
             max-width: 350px; 
             text-align: center;
             
             left:50%;
            
            
            }
        h2 { 
            color: #333; 
            margin-bottom: 20px; 
        }
        input { 
            width: 100%;
             padding: 12px; 
             margin-bottom: 15px; 
             border: 1px solid #ddd; 
             border-radius: 4px; 
             box-sizing: border-box; 
            }

        button  { 
            width: 100%; 
            padding: 12px; 
            background: red; 
            color: white; 
            border: none; 
            border-radius: 4px; 
            cursor: pointer; 
            font-size: 16px;
            transition: 0.3s; 
        }

        button:hover { 
            background: darkred; 
        }
        #message {
             color: red; 
             font-size: 14px; 
             margin-bottom: 10px; 
            }