body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

.admin-container {
  padding: 20px;
}

/* Header */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: black;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

/* Buttons */
.actions {
  margin: 20px 0;
}

.actions button {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  background: darkred;
}

/* Table */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: red;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

/* Delete Button styling */
.btn-delete {
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-delete:hover {
    background: black;
}